body { 
 background: url(../Images/map2.jpg); 
 background-size: 1320px 750px;


}

h1 { 
    font-size: 70px; 
}

.card { 
    background-color: #e8ecef;
    border: none; 
}

li { 
    list-style: none;
}